<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LibLA-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LibLA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LibStructural-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LibStructural.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>084661BA604F4DB7AD9D3C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE46E3C01B246BEA8250D05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659281FE809F4867B4D13A17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79F0709908784DECA4F24549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90206DFF7D0451A838E942B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D53AE85732A74F96BF9A8204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4753DCA035B4AD6B782F531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC62F89F7A9D4B0A9D8F4F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
